@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary: #2b4141;
  --secondary: #15b097;
  --light: #efefef;
  --danger: #d03345;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

/* Utils */

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.btn-primary {
  background-color: var(--secondary);
}

.mr-1 {
  margin-right: 1rem;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  background-color: var(--danger);
  padding: 2rem 0;
}

/* Navbar */
.navbar {
  height: 12vh;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar-container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-right {
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-left: 2rem;
  font-size: 50px;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  animation: breathing 1s infinite;
}

.fb-btn {
  cursor: pointer;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.nav-links {
  list-style: none;
}

.nav-link {
  color: var(--light);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:first-child {
  margin-right: 4rem;
}

/* Login */
.login-container,
.register-container {
  min-height: 100vh;
}

.login-content,
.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  min-width: 662px;
}

.login-title {
  font-size: 90px;
  text-transform: uppercase;
  color: #fff;
}

.form-group {
  display: flex;
  width: 100%;
  height: 91px;
  margin: 5rem 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary);
  color: #fff;
  min-width: 98px;
  font-size: 40px;
  padding: 1rem;
}

.input-field {
  min-width: 564px;
  padding: 0 2rem;
  outline: none;
  font-size: 40px;
  border-radius: 0;
  border: none;
}

.login-btns {
  display: flex;
  width: 662px;
  justify-content: space-between;
}

.btn-login,
.btn-register {
  width: 320px;
  height: 100px;
  outline: none;
  border-radius: 7px;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login:hover,
.btn-register:hover {
  background-color: #17bda1;
  transition: all ease-in-out 0.3s;
}

/* Register Form */

.register-form {
  text-align: center;
}

.register-input {
  display: flex;
  width: 100%;
  height: 91px;
  margin: 2rem 0;
}

.register-title {
  font-size: 84px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2rem;
}

.btn-register {
  margin-top: 2rem;
}

/* Home */
.home-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  min-height: 100vh;
  background-color: var(--primary);
}

/* Timeline */
.timeline {
  padding: 4rem 0 4rem 4rem;
}

.timeline-title {
  font-size: 40px;
  font-weight: 400;
}

.timeline-title:before {
  content: "";
  display: block;
  width: 70px;
  height: 8px;
  border: 5px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 9px;
  margin-bottom: 0.3rem;
}

/* Posts */
.post {
  margin-top: 2rem;
  width: 95%;
  min-height: 414px;
  background-color: #fff;
  border: 1px solid var(--primary);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.post-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary);
}

.post-info {
  display: flex;
}

.post-info-content {
  margin-left: 1rem;
}

.post-author {
  font-size: 30px;
  font-weight: 500;
}

.post-date {
  font-size: 20px;
  color: #535353;
  font-weight: 400;
}

.like-count {
  margin-bottom: 1rem;
}

.like-count,
.comment-count {
  color: var(--secondary);
  display: flex;
  align-items: center;
}

.like-count i,
.comment-count i {
  font-size: 30px;
}

.like-count h4,
.comment-count h4 {
  margin-left: 1rem;
  font-size: 22px;
}

.post-content {
  margin-top: 1rem;
  font-size: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary);
}

.post-actions {
  display: flex;
  margin-top: 1rem;
  margin-left: 0.3rem;
}

.like-post {
  margin-right: 2rem;
}

.like-post,
.comment-post {
  display: flex;
  align-items: center;
}

.like-post i,
.comment-post i {
  font-size: 50px;
  cursor: pointer;
}

.like-post h4,
.comment-post h4 {
  font-size: 22px;
  margin-left: 0.5rem;
}

/* Laptop Media Queries */
@media (max-width: 1440px) {
  .navbar {
    height: 15vh;
  }

  .navbar-title {
    margin-left: 1rem;
    font-size: 40px;
  }

  .nav-link {
    font-size: 25px;
  }

  .login-container,
  .register-container {
    min-height: 100vh;
    padding: 2rem 0;
  }

  .login-content,
  .register-content {
    min-height: 50vh;
  }

  .login-title {
    font-size: 75px;
  }

  .form-group {
    margin: 2rem 0;
  }

  .input-field {
    min-width: 464px;
  }

  .login-btns {
    width: 578px;
  }

  .btn-login,
  .btn-register {
    width: 250px;
    height: 80px;
    font-size: 40px;
  }

  .fb-btn {
    width: 250px;
    height: 80px;
  }
}

/* Tablet Media Queries */
@media (max-width: 768px) {
  .navbar-title {
    margin-left: 0.5rem;
    font-size: 30px;
    display: none;
  }

  .navbar-container {
    width: 85%;
  }

  .nav-link:first-child {
    margin-right: 3rem;
  }

  .login-container,
  .register-container {
    min-height: 100vh;
  }

  .login-content,
  .register-content {
    min-width: 320px;
    min-height: 60vh;
  }

  .login-title {
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
  }

  .form-group {
    height: 70px;
    margin: 3rem 0;
  }

  .icon {
    min-width: 50px;
    font-size: 30px;
  }

  .input-field {
    min-width: 300px;
    font-size: 30px;
  }

  .login-btns {
    display: flex;
    width: 442px;
    align-items: center;
    justify-content: space-between;
  }

  .btn-login,
  .btn-register {
    width: 200px;
    height: 62px;
    font-size: 30px;
  }

  .fb-btn {
    width: 200px;
    height: 80px;
  }
}

/* Mobile Media Queries */
@media (max-width: 568px) {
  .navbar-title {
    margin-left: 0.5rem;
    font-size: 30px;
    display: none;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-link:first-child {
    margin-right: 1rem;
  }

  .login-form {
    max-width: 250px;
  }

  .login-content,
  .register-content {
    max-width: 250px;
    margin: auto;
    min-height: 60vh;
  }

  .login-title {
    font-size: 70px;
  }

  .form-group {
    height: 60px;
    max-width: 250px;
    margin: 3rem 0;
  }

  .icon {
    display: none;
  }

  .input-field {
    min-width: 250px;
    height: 100%;
    margin: auto;
    font-size: 20px;
  }

  .login-btns {
    display: flex;
    max-width: 250px;
    flex-direction: column;
    margin: auto;
  }

  .btn-login,
  .btn-register {
    width: 250px;
    height: 62px;
    font-size: 30px;
  }

  .fb-btn {
    margin-top: 1rem;
    width: 250px;
    height: 80px;
  }

  .register-title {
    font-size: 50px;
  }

  .register-input {
    width: 250px;
    height: 60px;
  }

  .btn-register {
    margin-top: 1rem;
  }
}
